nav {
  padding: 10px 20px;
  background-color: #f1f1f1;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links ul li {
  margin: 0 10px;
}

a.logo {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}
