:root {
  --black-two: #121212;
  --pale-grey: #e8e8e8;
  --light-blue: #4386bf;
  --font-family: robotoslab, sans-serif;
  --font-family-2: montserrat, sans-serif;
  --font-size: 0.875rem;
  --font-weight: 300;
  --font-stretch: normal;
  --font-style: normal;
  --line-height: normal;
  --letter-spacing: normal;
}

.display {
  display: flex;
}

.fontStyles {
  font-style: var(--font-style);
  font-stretch: var(--font-stretch);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.align {
  align-items: flex-start;
}

.Book-Card {
  justify-content: space-between;
  align-items: center;
  width: 62rem;
  margin: 0 auto;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  height: 10.625rem;
  margin-bottom: 1rem;
  border: solid 1px var(--pale-grey);
  background-color: #fff;
}

.Book-Card-Header {
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 12rem;
}

.buttons {
  justify-content: space-between;
  gap: 0.2rem;
  padding-top: 1rem;
}

.Category,
.Book-title {
  font-weight: bold;
}

.Category {
  color: #acacac;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.Book-title {
  height: 1.813rem;
  font-family: var(--font-family);
  font-size: 1.375rem;
  color: var(--black-two);
}

.Book-title,
.Category,
.Book-author {
  text-transform: capitalize;
}

.Book-author {
  font-family: var(--font-family);
  font-size: 0.875rem;
  font-weight: var(--font-weight);
  color: var(--light-blue);
}

.Remove-Book,
.Edit-Book,
.Comments {
  border: none;
  background-color: #fff;
  color: var(--light-blue);
  font-family: var(--font-family);
  font-size: 0.9rem;
  cursor: pointer;
}

.Remove-Book,
.Comments {
  border-right: 2px #e2e2e2 solid;
  padding-right: 1rem;
}

.Progress-circle {
  gap: 1rem;
  justify-content: center;
  border-right: 1px solid var(--pale-grey);
}

.Completed-chapters,
.progress-percent {
  align-items: flex-start;
  flex-direction: column;
}

.progress {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: var(--font-family-2);
  font-size: 0.875rem;
}

.Line {
  width: 62rem;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 6.5rem;
  border: solid 1px var(--pale-grey);
}

.percent {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: var(--font-family-2);
  font-size: 2rem;
  color: var(--black-two);
}

.chapter,
.current-chapter,
.percent,
.progress {
  font-weight: var(--font-weight);
}

.chapter {
  width: 9.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: var(--font-family);
  font-size: 0.813rem;
}

.current-chapter {
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: var(--font-family);
  font-size: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.Progress-btn {
  width: 11.5rem;
  font-size: 0.8rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  line-height: var(--line-height);
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}
